/* general styles */

*{
    box-sizing: border-box;
    /* Primary colors*/
    --clr-prm-red : hsl(356, 100%, 66%);
    --clr-prm-light-red: hsl(355, 100%, 74%); 
    --clr-prm-dark-blue: hsl(208, 49%, 24%);

    /* neutral colors */
    --clr-neutral-white : hsl(0, 0%, 100%);
    --clr--neutral-gray-blue: hsl(240, 2%, 79%);
    --clr--neutral-dark-blue: hsl(207, 13%, 34%);
    --clr-neutral-dark-black-blue: hsl(240, 10%, 16%);

    /* gradient colors*/
    --clr-gradient-v-light-red: hsl(13, 100%, 72%);
    --clr-gradient-light-red: hsl(353, 100%, 62%);

    --clr-gradient-dark-blue: hsl(237, 17%, 21%);
    --clr-gradient-dark-s-blue: hsl(237, 23%, 32%);
    /* text-align: center; */
}

body{
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none ;
    margin: 0;
    padding: 0;
}


img{
    max-width: 100%;
}

.container{
    padding: 2em;
    text-align: center;
}

/* ############################ */
  /* ####################### */
      /* layout */
  /* ###################### */
/*#############################  */

    /* header*/

    header{
        /* display: flex;
        align-items: center;
        flex-direction: column; */
        background-color: var(--clr-prm-red);
        background-image: url('./images/bg-pattern-intro-mobile.svg'); 
        background-repeat:no-repeat; 
        background-position: center center;
        /* background-size:cover; */
        background-blend-mode:lighten;
        border-bottom-left-radius: 100px;
        background-size: cover;
        
    }


    header .conainer{
        display: flex;
        align-items: center;
    }

    header .container .mobile-humb-cont{
        display: flex;
        justify-content: space-between;
        align-items: center;
        /* background-color: green; */
        width: 100%;
        /* position: relative; */
    }
    
    header  nav{
        /* width: 400px; */
        width: 80%;
        background: white;
        color: black;
        font-size: 1.2rem;
        margin: 20px auto;
        color: var(--clr--neutral-dark-blue);
        padding: 1em;
        
        
    }

    header nav .nav-item{
        padding: 1em;
    }

    header nav .nav-item li{
        margin-block:20px ;
    }

    header nav .blogr-nav{
        display: flex;
        margin-left: 20px;
        flex-direction: column;
    }

    header nav .blogr-contact-form{
        display: flex;
        margin-left: 0;
        flex-direction: column;
        margin: 1.4em 0 0em;
        padding: 1em 0 .5em;
        border-top: 1px solid var(--clr--neutral-gray-blue)
    }

    header .btn{
        padding: .6em 1.8em;
        border-radius: 50px;
        border: none;
        font-weight: bolder;
        width: fit-content;
        align-self: center;
        margin-block: 10px;
        font-size: 1.5rem;
    }

    header .btn-login{
        
    }

    header .btn-signup{
        color: var(--clr-neutral-white);
        background: linear-gradient(-90deg,var(--clr-gradient-light-red), var(--clr-gradient-v-light-red));
    }
    
    .humberger{
        display: inline-block;
        margin-left: auto;
    }

    /* hambergur setting */

    .none,
    .none-nav{
        display: none;
    }


/* intro layout */

.intro-section{
    
}

.intro-section .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    /* padding: 10em 0; */
    /* border-bottom-left-radius: 100px; */
    /* text-align: center; */
    /* margin-bottom: 200px; */

}
.intro-section h1{
    font-size: 30px;
    margin-bottom: 0px;
    margin-top: 0px;
}

.intro-section p{
    font-size: 25px;
}


.intro-section ul {
    display: flex;
    gap: 20px
}

.intro-section ul li{
    padding: .9em 1em;
    border: 1px solid var(--clr-neutral-white);
    border-radius: 50px;
}

/* design-section layout */

.design-section .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 200px;
    padding:2em;
    text-align: center;

}

.design-section  h1{
    font-size: 30px;
}

.design-section p{
    font-size: 20px;
}


/* state-section layout */
.state-section{
    border-bottom-left-radius: 100px;
    border-top-right-radius: 100px;
}

.state-section .container{
    border-bottom-left-radius: 100px;
    border-top-right-radius: 100px;
    /* position: relative; */
    /* padding: 10em 0 5em; */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* height: 200px; */
}

/* .state-container .container .img-container{
    position: relative;
} */

.state-section .container img{
    /* position: absolute; */
    margin-top: -170px;
    padding: 0;
}

.state-section .container .state-container{
    /* position: relative; */
    /* top: 60px; */
    /* padding: 3em */
}
.state-section .container h1{
    font-size: 30px;
    letter-spacing: 1.5px;
}

.state-section .container p{
    font-size: 20px;
    line-height: 1.5em;
}


/* about-section */

.about-section .about-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.about-section .about-container h1{
    font-size: 30px;
}

.about-section .about-container p{
    font-size: 20px;
}



/* foooter section */
footer{
    border-top-right-radius: 100px;
}

footer .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}



footer .container .footer-item{
    display: flex;
    justify-content: space-evenly;
    align-self: center;
    flex-direction: column;
}



/* footer{
    border-top-right-radius: 100px;;    
}

footer .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    font-size: 18px;
    border-top-right-radius: 100px;;
}
footer .container ul{
    display: flex;
    flex-direction: column;
}
footer .container li{
    margin-block: 10px;
    display: flex;
    flex-direction: column;
}

footer .container .f-title{
    font-size: 20px;
    margin-bottom: 23px;
} */

/* ################## */
/* typography */
header, .intro-section{
    /* background-color: var(--clr-prm-red); */
    color: white;
    opacity: .9;
}

header nav .nav-item{
    background: var(--clr--neutral-gray-blue);
}

.state-section{
    background: var(--clr-gradient-dark-blue);   
    color: white;
}

footer{
    background-color: var(--clr-neutral-dark-black-blue);
    color: var(--clr-neutral-white)
}








@media (min-width: 500px){
    .container{
        max-width: 550px;
        margin: 0 auto;
    }
    
}



@media (min-width: 900px){
    .container{
        max-width: 1400px;
        margin: 0 auto;
        text-align: left;
    }
    /* header*/
    header{
        background-image: url('./images/bg-pattern-intro-desktop.svg');
        /* background-size: cover; */
    }


    header .container{
        display: flex;
        align-items: flex-start;
        flex-direction: row;
    }
    header .container .mobile-humb-cont{
        display: flex;
        justify-content: space-between;
        align-items: center;
        /* background-color: green; */
        width: fit-content;
    
    }


    header nav{
        display: flex;
        /* margin-right: 20px; */
        justify-content: space-around;
        width: 100%;
        align-items: flex-start;
        flex-direction: row;
        color: white;
        background-color: inherit;
        margin-left: 20px;

    }


    header nav h3{
        margin-top: 0;
    }


    header nav li{
        margin-right: 30px;
    }
    header nav .blogr-nav{
        display: flex;
        margin-left: 20px;
        flex-direction: row;
    }

    header nav .blogr-contact-form{
        display: flex;
        margin-left: auto;
        flex-direction: row;
        margin: 0em;
        padding: 0em;
        border-top: none;
    }


    header .btn{
        margin-block: 0;
        padding: 0em .6em;
        /* border: 1px solid black; */
        
    }

    header .btn-signup{
        color: var(--clr-neutral-white);
        background: none;
    }

    /* header nav .blogr-contact-form li{
        padding: .7em 1.3em;
        border-radius: 20px;
        border: 1px solid white
    } */
    
    .humberger{
        display: none;
    }


    /*design section  */
    .design-section .container{
        /* padding: 2em 0em 2em 2em; */
        align-items: center;
    }

    .design-section .design-container{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 0;
        /* align-items: center; */

    }
    
    .design-section .design-container img{
        order: 1;
        /* max-width: 600px; */
        width: 45%;
        margin-left: 20px;

    }

    .design-section .design-container .elements{
        text-align: left;
        padding-left: 2em;
        width: 50%;
    }

    .state-section .container{
        display: flex;
        flex-direction: row;
        padding: 0;
        padding-right: 200px;;
    }
    /* .state-sections */

    .state-section .container img{
        top: -70px;
        margin-top: -100px;
        margin-right: 40px;
    }   


    /* about-section */

    .about-section .about-container{
        flex-direction: row;
        align-items: left;
        padding: 3em 3em 3em 0em;

        /* max-width: 100vw; */
    }
    .about-section .about-container img{
        width: 50%;
    } 
    

    /* footer section*/

    footer .container{
        display: flex;
        flex-direction: row;
        /* justify-content: space-evenly; */
        justify-content: space-between;
        align-items: flex-start;
    }
    
    
    
    footer .container .footer-item{
        display: flex;
        justify-content: space-evenly;
        align-self: flex-start;
        flex-direction: row;
        width: 100%;
        margin-top: 0px;

    }

    
    footer .container .footer-contact{
        display: flex;
        flex-direction: row;
        width: 30%;
        margin-top: 0;
    }


    footer .container ul{
        align-items: flex-start;
        justify-content: center;
        padding: 1em 0;
        margin: 1em 0;
    }
    
    footer .container li{
        margin: 0;
        padding: 0;
    }

    footer .container ul .f-title{
        padding-top: 0;
        margin-top: 0;
    }

    .none-nav{
        display: flex;
    }

}














main{
    display: none;
}
