/* general styles */

*{
    box-sizing: border-box;
    /* Primary colors*/
    --clr-prm-red : hsl(356, 100%, 66%);
    --clr-prm-light-red: hsl(355, 100%, 74%); 
    --clr-prm-dark-blue: hsl(208, 49%, 24%);

    /* neutral colors */
    --clr-neutral-white : hsl(0, 0%, 100%);
    --clr--neutral-gray-blue: hsl(240, 2%, 79%);
    --clr--neutral-dark-blue: hsl(207, 13%, 34%);
    --clr-neutral-dark-black-blue: hsl(240, 10%, 16%);

    /* gradient colors*/
    --clr-gradient-v-light-red: hsl(13, 100%, 72%);
    --clr-gradient-light-red: hsl(353, 100%, 62%);

    --clr-gradient-dark-blue: hsl(237, 17%, 21%);
    --clr-gradient-dark-s-blue: hsl(237, 23%, 32%);
    /* text-align: center; */
}

body{
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none ;
    margin: 0;
    padding: 0;
}

img{
    max-width: 100%;
}

.container{
    padding: 2em;
}


/* ############################ */
  /* ####################### */
      /* layout */
  /* ###################### */
/*#############################  */

/* header layout */


header{
    color: white;
    display: none;
}

header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
}

header nav{
    /* display: none; */
    display: flex;
    background:hsl(0, 0%, 100%);
    color: black;
    width: 80%;
    position: absolute;
    top: 50px;
    align-items: center;
    flex-direction: column;

}

header nav ul{
    display: flex;
    flex-direction: column;
}

.humberger{
    position: absolute;
    right: 0;
}

/* intro layout */


.intro-section .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    /* background: url(./images/bg-pattern-intro-mobile.svg) no-repeat ; */
    /* background-size: inherit; */
    background-color: green;
    /* background-blend-mode: multiply; */
    padding: 10em 0;
    border-bottom-left-radius: 100px;
    /* text-align: center; */
    /* margin-bottom: 200px; */

}
.intro-section h1{
    font-size: 30px;
    margin-bottom: 0px;
}

.intro-section p{
    font-size: 25px;
}


.intro-section ul {
    display: flex;
    gap: 20px
}

.intro-section ul li{
    padding: .9em 1em;
    border: 1px solid var(--clr-neutral-white);
    border-radius: 50px;
}

/* design-section layout */

.design-section .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 200px;
}

.design-section .container h1{
    font-size: 30px;
}

.design-section .container p{
    font-size: 20px;
}


/* state-section layout */

.state-section .container{
    background-color: green;
    border-bottom-left-radius: 100px;
    border-top-right-radius: 100px;
    position: relative;
    padding: 10em 0 5em;
}

/* .state-container .container .img-container{
    position: relative;
} */

.state-section .container img{
    position: absolute;
    left: 0;
    top: -250px;
}

.state-section .container .state-container{
    position: relative;
    top: 60px;
    padding: 3em
}
.state-section .container h1{
    font-size: 30px;
    letter-spacing: 1.5px;
}

.state-section .container p{
    font-size: 22px;
    line-height: 1.5em;
}


/* about-section */

.about-section .about-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-section .about-container h1{
    font-size: 30px;
}

.about-section .about-container p{
    font-size: 20px;
}



/* foooter section */

footer .container{
    display: flex;
    flex-direction: column;
    background: black;
    color: white;
    align-items: center;
    gap: 25px;
    font-size: 18px;
    border-top-right-radius: 100px;;
}
footer .container li{
    margin-block: px;
}

footer .container .f-title{
    font-size: 20px;
    margin-bottom: 23px;
}








@media (min-width: 500px){
    .container{
        max-width: 550px;
        margin: 0 auto;
    }
}



@media (min-width: 900px){
    .container{
        max-width: 1400px;
        margin: 0 auto;
    }
    .design-section .design-container{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;

    }
    .design-container-elements{
        width: 50%;
    }

    .design-section .design-container img{
        order: 1;
    }

    .state-section .container{
        display: flex;
        padding: 110px;
    }
    .state-section .container .img-container{
        display: block;
        width: 50%;
        margin-right: 40px;
    }

    .state-section .container img{
        top: -70px;
    }   

    .state-section .container .state-container{
        width: 50%;
        padding: 0;
        position: unset;
    }

    /* about-section */

    .about-section .about-container{
        flex-direction: row;
        align-items: left;
    }
    
    

    /* footer section*/
    
    footer .container{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

}